Repository charlestheprogrammer/tinyx: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_frontend, build_frontend, deploy_repo_post, deploy_repo_social, deploy_home_timeline, deploy_user_timeline, deploy_search, deploy_tinyx_gateway, deploy_frontend_to_s3

Path conditions:
  lint_frontend: any of: tinyx-frontend/**/*
  build_frontend: any of: tinyx-frontend/**/*
  deploy_repo_post: any of: repo-post/**/*
  deploy_repo_social: any of: repo-social/**/*
  deploy_home_timeline: any of: srvc-home-timeline/**/*
  deploy_user_timeline: any of: srvc-user-timeline/**/*
  deploy_search: any of: srvc-search/**/*
  deploy_tinyx_gateway: any of: tinyx-gateway/**/*
  deploy_frontend_to_s3: any of: tinyx-frontend/**/*

Feat(#32): build docker image for other services and CI updated
  .gitlab-ci.yml
  repo-social/Dockerfile
  repo-social/application.properties
  srvc-home-timeline/Dockerfile
  srvc-home-timeline/application.properties
  srvc-search/Dockerfile
  srvc-search/application.properties
  srvc-user-timeline/Dockerfile
  srvc-user-timeline/application.properties
Due: deploy_repo_social, deploy_home_timeline, deploy_user_timeline, deploy_search

Fix(#32): updated host for gateway filter
  tinyx-gateway/src/main/java/com/epita/tinyx/gateway/filter/GatewayFilter.java
Due: deploy_tinyx_gateway

Feat(#32): updated neo4j driver version to take into account credentials
  pom.xml
  srvc-home-timeline/application.properties
  srvc-user-timeline/application.properties
Due: deploy_home_timeline, deploy_user_timeline

Feat(#32): configs for each service
  ingress.yml
  kustomization.yml
  mongodb/init.js
  mongodb/secrets.yml
  mongodb/statefulset.yml
  repo-post/application.properties
  repo-social/deployment.yml
  srvc-home-timeline/deployment.yml
  srvc-search/deployment.yml
  srvc-user-timeline/deployment.yml
Due: deploy_repo_post, deploy_repo_social, deploy_home_timeline, deploy_user_timeline, deploy_search

Feat(#32): fix gitlab CI for tinyx-gateway
  .gitlab-ci.yml
Due: none

Feat(#32): deployments for all services
  elastic-search/crds.yaml
  elastic-search/elastic_search.yml
  elastic-search/kustomization.yml
  elastic-search/operator.yaml
  helm_installation.sh
  mongodb/backup.yml
  mongodb/mongodb.yml
  neo4j/kustomization.yml
  neo4j/neo4jvalues.yml
  neo4j/secrets.yml
  redis/pod.yml
  redis/redis-config
  redis/service.yml
  repo-social/deployment.yml
  repo-social/kustomization.yml
  repo-social/service.yml
  srvc-home-timeline/deployment.yml
  srvc-home-timeline/kustomization.yml
  srvc-home-timeline/service.yml
  srvc-search/deployment.yml
  srvc-search/kustomization.yml
  srvc-search/service.yml
  srvc-user-timeline/deployment.yml
  srvc-user-timeline/kustomization.yml
  srvc-user-timeline/service.yml
Due: deploy_repo_social, deploy_home_timeline, deploy_user_timeline, deploy_search

Fix(#32): ingress working for redirect to different services
  docker-compose.yml
  helm_installation.sh
  ingress.yml
  kustomization.yml
  mongodb/backup.yml
  mongodb/init.js
  mongodb/kustomization.yml
  mongodb/secrets.yml
  mongodb/service.yml
  mongodb/statefulset.yml
  redis/kustomization.yml
  repo-post/deployment.yml
  repo-post/ingress.yml
  repo-post/kustomization.yml
  repo-social/deployment.yml
  repo-social/ingress.yml
  repo-social/kustomization.yml
  srvc-home-timeline/deployment.yml
  srvc-home-timeline/ingress.yml
  srvc-home-timeline/kustomization.yml
  srvc-search/deployment.yml
  srvc-search/ingress.yml
  srvc-search/kustomization.yml
  srvc-user-timeline/deployment.yml
  srvc-user-timeline/ingress.yml
  srvc-user-timeline/kustomization.yml
  srvc-user-timeline/src/main/resources/application.properties
  tinyx-gateway/deployment.yml
  tinyx-gateway/ingress.yml
  tinyx-gateway/kustomization.yml
Due: deploy_repo_post, deploy_repo_social, deploy_home_timeline, deploy_user_timeline, deploy_search, deploy_tinyx_gateway

Feat(#32): update README with kube instruction
  README.md
Due: none

Fix(#35): update README
  README.md
  architecture.png
  neo4j.png
Due: none

[ImgBot] Optimize images
  architecture.png
  neo4j.png
  tinyx-frontend/public/vite.svg
  tinyx-frontend/src/assets/react.svg
Due: lint_frontend, build_frontend, deploy_frontend_to_s3

Create system.properties
  system.properties
Due: none
